{% extends 'base.html.j2' %}

{% block content %}
<h1 class="tagline">This page doesn't exist</h1>
<a href="/">
    <button class="discover-button">Go back to the Homepage</button>
</a>
{% endblock %}