<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bronx Luggage{% endblock %}</title>
        <link rel="shortcut icon" href="/static/images/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            {% include 'dependencies/bootstrap.min.css' %}
            {% include 'dependencies/all.min.css' %}
            {% include 'main.css' %}
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        {% include 'navbar.html.j2' %}

        {% block content %}{% endblock %}

        {% include 'footer.html.j2' %}
    </body>
</html>
