<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bronx Luggage{% endblock %}</title>
        <link rel="shortcut icon" href="/static/images/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script>
            {% include 'bootstrap.bundle.min.js' %}
            {% include 'jquery.min.js' %}
        </script>
        <style>
            {% include 'bootstrap.min.css' %}
            {% include 'swiper-bundle.min.css' %}
            {% include 'all.min.css' %}
            {% include 'main.css' %}
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content %}{% endblock %}

        {% include 'footer.html' %}
    </body>
</html>
