<div class="container-fluid justify-content-center p-0 mx-0">
    <footer>
        <div class="row pt-5 justify-content-md-around justify-content-center text-center figure">
            <div class="col-auto">
                <figure class="figure">
                    <img class="figure-img img-fluid" src="/static/images/customersupport.png">
                    <figcaption class="figure-caption">CUSTOMER SUPPORT</figcaption>
                    <p class="cap"><br>A DEDICATED NETWORK OF EXPERTS AT YOUR SERVICE</p>
                </figure>
            </div>
            <div class="col-auto">
                <figure class="figure">
                    <img class="figure-img img-fluid" src="/static/images/quality.png">
                    <figcaption class="figure-caption">QUALITY TESTED</figcaption>
                    <p class="cap"><br>EACH SUITCASE IS INDIVIDUALLY INSPECTED</p>
                </figure>
            </div>
            <div class="col-auto">
                <figure class="figure">
                    <img class="figure-img img-fluid" src="/static/images/return.png">
                    <figcaption class="figure-caption">RETURN POLICY</figcaption>
                    <p class="cap"><br>FREE RETURN POLICY WITHIN 2 WEEKS</p>
                </figure>
            </div>
        </div>
        <div class="row  mb-0 mt-5 mx-4 row-2 justify-content-xl-around justify-content-sm-between menu">
        <div class="col-md-2">
            <ul class="list-unstyled">
                <li>BRONX LUGGAGE</li>
                <li> <a href="about.html">Who We Are</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="catalogue.html">Catalogue</a></li>
                <li><a href="sitemap.html">Site Map</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled">
                <li>PRODUCTS</li>
                <li><a href="suitcase.html">Suitcases</a></li>
                <li><a href="backpack.html">Backpacks</a></li>
                <li><a href="purse.html">Purses</a></li>
                <li><a href="tote.html">Tote bags</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled">
                <li>COLLECTION</li>
                <li><a href="mens.html">Men</a></li>
                <li><a href="women.html">Women</a></li>
                <li><a href="everyday.html">Everyday</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled">
                <li>BRANDS</li>
                <li><a href="rimowa.html">Rimowa</a></li>
                <li><a href="globetrot.html">Globe-trotter</a></li>
                <li><a href="hartmann.html">Hartmann</a></li>
                <li><a href="mulberry.html">Mulberry</a></li>
                <li><a href="montblanc.html">Montblanc</a></li>
                <li><a href="openstory.html">Open Story</a></li>
                <li><a href="thule.html">Thule</a></li>
            </ul>
        </div>
        <hr class="line">
        <div class="row  mb-0 mt-5 mx-4 row-2 feedback">
            <div class="col-md-6">
                <h5>We'd love to hear from you</h5>
                <form>
                    <div class="form-group">
                        <label for="input">Enter Your Email Address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="feedback">Write to us</label>
                        <textarea class="form-control" id="textarea" rows="5"></textarea><br>
                        <button type="submit" class="btn submit mb-2">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6" style="padding: 25px;">
                <h5>We're not far from you!</h5>
                <p class="contact-info">2900 W. Sample Road <br>Pompano Beach, FL</p>
                <div class="container-fluid" style="height:50px;"></div>
                <h5>Follow us!</h5>
                <a href="https://www.instagram.com/bagthebronx/?hl=en">
                    <img src="/static/images/instagram.png">
                </a>
                <a href="https://twitter.com">
                    <img src="/static/images/twitter.png">
                </a>
                <a href="https://www.facebook.com/BronxLuggagesuite260Parade/">
                    <img src="/static/images/facebook.png">
                </a>
                <a href="https://web.whatsapp.com">
                    <img src="/static/images/whatsapp.png">
                </a>
                <a href="https://www.google.com/search?q=bronx+luggage&rlz=1C1GCEU_enPK864PK864&oq=bronx+luggage&aqs=chrome.0.69i59l2j0i512l2j0i22i30j69i61l3.2977j0j4&sourceid=chrome&ie=UTF-8">
                    <img src="/static/images/search.png">
                </a>
            </div>
            <hr class="line">
            <div class="row text-center py-3">
                <div class="col">
                    <p class="text-muted"><b>ALL RIGHTS ARE RESERVED</b></p>
                </div>
            </div>
    </footer>
</div>