<div class="container-fluid">
    <nav class="navbar navbar-light justify-content-center navi">
    <a class="navbar-brand" href="/">BRONX LUGGAGE</a>
    </nav class="navbar-nav">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/catalogue">CATALOGUE</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FEATURED BRANDS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <h6 class="dropdown-header">LUXURY</h6>
                            <li><a class="dropdown-item" href="/products/rimowa">Rimowa</a></li>
                            <li><a class="dropdown-item" href="/products/globetrotter">Globe-Trotter</a></li>
                            <li><a class="dropdown-item" href="/products/montblanc">MontBlanc</a></li>
                            <li><a class="dropdown-item" href="/products/mulberry">Mulberry</a></li>
                            <h6 class="dropdown-header">AMENITY</h6>
                            <li><a class="dropdown-item" href="/products/hartmann">Hartmann</a></li>
                            <li><a class="dropdown-item" href="/products/openstory">Open Story</a></li>
                            <li><a class="dropdown-item" href="/products/thule">Thule</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        LUGGAGE
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/products/suitcase">Suitcases</a></li>
                            <li><a class="dropdown-item" href="/products/purse">Purses</a></li>
                            <li><a class="dropdown-item" href="/products/tote">Tote Bags</a></li>
                            <li><a class="dropdown-item" href="/products/backpack">Backpacks</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        COLLECTION
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/products/mens">Men</a></li>
                            <li><a class="dropdown-item" href="/products/women">Women</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/everyday">EVERYDAY</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="icon-container">
    <img class="dummy-icon" src="/static/images/heart.png">
    <img class="dummy-icon" src="/static/images/search-interface-symbol.png">
    <a href="/login"><img class="dummy-icon" src="/static/images/shopping-bag.png"></a>
</div>