{% extends 'base.html' %}

{% block content %}
<main class="container prod">
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100"> 
                <img class="card-img w-100 h-100"
                src="/static/images/{{category.lower()}}/{{product[1]}}.jpg" 
                alt="Image of {{product[0]}}">
            </div>
        </div>
  
        <div class="col-md-6">
            <div class="product-description">
                <span>{{category}}</span>
                <br><br>
                <h1 class="tagline">{{product[0]}}</h1>
                <p>{{product[3]}}</p>
            </div>
  
            <h1 class="tagline">${{product[2]}}</h2>
            <button class="discover-button">Add To Cart</button>
        </div>
    </div>
</main>
<br>
<br>
{% endblock %}